- prev_page_path = (page && page > 1) ? StartupsByCity::Renderer::city_path(country_name, region_name, city_name, page - 1) : nil
- next_page_path = (total_pages && page && total_pages > page) ? StartupsByCity::Renderer::city_path(country_name, region_name, city_name, page + 1) : nil
!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    - if prev_page_path
      %link{rel: 'prev', href: prev_page_path}
    - if next_page_path
      %link{rel: 'next', href: next_page_path}
    %title= city_name ? "Startups in #{city_name}, #{region_name}, #{country_name} - List of Startups by City" : 'List of Startups by City'
    %link{rel: 'stylesheet', href: 'style.css', type: 'text/css'}
    - if google_analytics
      <script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','#{google_analytics}']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();</script>
  %body
    #container
      #sidebar
        %nav
          %h2<
            %a{href: 'index.html'} Select a City
          %ul
            - collection.each do |sidebar_country|
              %li
                %a{href: '#', class: "expandable#{' expanded auto-expanded' if sidebar_country[:name] == country_name}"}<
                  #{StartupsByCity::Regions.translate_region_code(sidebar_country[:name])} (#{StartupsByCity::Renderer.delimit_number(sidebar_country[:startups_count])})
                %ul
                  - sidebar_country[:regions].each do |sidebar_region|
                    %li
                      %a{href: '#', class: "expandable#{' expanded auto-expanded' if sidebar_country[:name] == country_name && sidebar_region[:name] == region_name}"}<
                        #{StartupsByCity::Regions.translate_region_code(sidebar_country[:name], sidebar_region[:name])} (#{StartupsByCity::Renderer.delimit_number(sidebar_region[:startups_count])})
                      %ul
                        - sidebar_region[:cities].each do |sidebar_city|
                          %li<
                            %a{href: StartupsByCity::Renderer::city_path(sidebar_country[:name], sidebar_region[:name], sidebar_city[:name]), class: "#{ 'selected' if sidebar_country[:name] == country_name && sidebar_region[:name] == region_name && sidebar_city[:name] == city_name}"}<
                              #{sidebar_city[:name]} (#{StartupsByCity::Renderer.delimit_number(sidebar_city[:startups_count])})
        #sidebar-source Created by <a href="http://schreifels.org">Mike Schreifels</a>. Fork it on <a href="https://github.com/schreifels/startups-by-city">Github</a>. Data from the <a href="https://developer.crunchbase.com/">CrunchBase Open Data Map</a>.
      #content
        - if city_startups
          %h1 List of Startups in #{city_name}, #{StartupsByCity::Regions.translate_region_code(country_name, region_name)}
          Page #{page} of #{total_pages}
          %table
            %thead
              %tr
                %th.name-column Name
                %th Description
            %tbody
              - city_startups.each do |startup|
                %tr
                  %td<
                    %a{rel: 'nofollow', href: startup['homepage_url'], target: '_blank'}>= startup['name']
                    %br
                    %a.crunchbase{rel: 'nofollow', href: startup['crunchbase_url'], target: '_blank'}> Crunchbase
                  %td= startup['short_description']
          .pagination
            - if prev_page_path
              %a.pagination-prev{href: prev_page_path} Previous page
            Page #{page} of #{total_pages}
            - if next_page_path
              %a.pagination-next{href: next_page_path} Next page
        - else
          %h1 List of Startups by City
          %p Select a city to view startups in the area.
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
    %script{src: 'application.js'}
